{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOICELAND</title>
    <link rel="stylesheet" href="{% static 'second/css/style.css' %}">
    <link rel="stylesheet"href="{% static 'second/js/main.js'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,300;1,300&family=Poppins:ital,wght@1,300;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,700&display=swap" rel="stylesheet">
</head>
<body>

    <nav>

    <div class="nav">


        <div class="verh">
         <h3>
            NOICELAND
             <NOI
         </h3>
        </div>


        <div class="menu">
            <h1>
                Home
            </h1>
            <h1>
                Latest
            </h1>
            <h1>
                About
            </h1>
        </div>

    </div>

    </nav>


    <div class="container">
        <div class="img">
            <img src="/img/IMAGE.png" alt="">

        </div>
        <div class="text">
            <h1>
                ILLUSTRATION
            </h1>
            <br>
            <h2>
                Japan House opens
                <br> in mountainside to
                <br>
                 foster peak creativity.
            </h2>
            <br>
            <h1>
                Enim omittam qui id, ex quo atqui dictas complectitur.
                <br>
                 Nec ad timeam accusata, hinc justo falli id eum, ferri
                 <br>
                  novum molestie eos cu.
            </h1>
            <br>
            <p>
                    BY RETTA TORPHY
            </p>

       </div>
     </div>

     <div class="cards-container1">

        <div class="card">
            <img src="/img/card2.png" alt="">

            <div class=" card-text">
        <h1>
            Photography
        </h1>
        <br><br>

        <h2>
            Helmut Lang celebrates
            <br>
            taxi drivers worldwide in
            <br>
             latest campaign
             <br>
        </h2>
        <br><br><br><br><br>
        <h2>
                BY ALESSANDRA ORTIZ
        </h2>
        </div>

        </div>


        <div class="card">
            <img src="/img/cardd3.png" alt="">

            <div class=" card-text">
        <h1>
            Photography
        </h1>
        <br><br>

        <h2>
            Bowlcut launch a new
            <br>
            summer collection that pays
            homage to “UK legends”
            <br>
        </h2>
        <br><br><br>
        <h2>
                BY ALESSANDRA ORTIZ
        </h2>
        </div>

        </div>



        <div class="card">
            <img src="/img/CARDD4.png" alt="">

            <div class=" card-text">
        <h1>
            Photography
        </h1>
        <br><br>

        <h2>
            Thousands of previously
            <br>
             unseen photographs by Andy
              Warhol will be made public
              <br>
                 this Autumn
        </h2>
        <br>
        <h2>
                BY ALESSANDRA ORTIZ
        </h2>
        </div>

        </div>

     </div>
     <div class="card-container2">
        <div class="card">
            <img src="/img/cardd5.png" alt="">

            <div class=" card-text">
        <h1>
            Interactive Design
        </h1>
        <br><br>

        <h2>
            London-based Yinka Ilori’s
            <br>
             storytelling furniture
        </h2>
        <br><br>
        <h2>
                BY ANNIE LUEILWITZ
        </h2>
        </div>

        </div>

        <div class="card">
            <img src="/img/cardd6.png" alt="">

            <div class=" card-text">
        <h1>
            Graphic Design
        </h1>
        <br><br>

        <h2>
            Anonymous Israeli art
            <br>
             collective Broken Fingaz
            <br>
             direct music video for U2 and Beck
        </h2>
        <br><br>
        <h2>
                BY SIMEON BREKKE
        </h2>
        </div>

        </div>

        <div class="card">
            <img src="/img/cardd7.png" alt="">

            <div class=" card-text">
        <h1>
            Architecture
        </h1>
        <br><br>
        <h2>
            Suzanne Saroff’s meticulously
            <br>
             arranged photographs alter
             <br>
              perceptions
        </h2>
        <br><br>
        <h2>
                BY  RETA TORPHY
        </h2>
        </div>

        </div>

     </div>

<div class="cartochki-container">
    <div class="cards">
       <img src="/img/cardd8.png" alt="">

       <h1>
       ILLUSTRATION
       </h1>
       <br><br>
       <h2>
        Japan House opens in
         mountainside to
          foster peak creativity.
       </h2>

       <h2>
        <br>
        BY RETA TORPHY
       </h2>
    </div>
    <div class="cards">
        <img src="/img/cardd9.png" alt="">

        <h1>
            Photography
        </h1>
        <br><br>
        <h2>
            Helmut Lang
             celebrates taxi
              drivers worldwide in
               latest campaign
        </h2>
        <br>
        <h2>
         BY ALESSANDRA
        </h2>
     </div>
     <div class="cards">
        <img src="/img/cardd10.png" alt="">

        <h1>
            Photography
        </h1>
        <br><br>
        <h2>
            Bowlcut launch a new
             summer collection
              that pays homage to
               “UK legends”
        </h2>
        <br><br>
        <h2>

         BY ROSANNA ONDRICKA
        </h2>
     </div>
     <div class="cards">
        <img src="/img/CARDD11.png" alt="">

        <h1>
            Photography
        </h1>
        <br><br>
        <h2>
            Thousands of
             previously unseen
              photographs by Andy
               Warhol will be made
                public this Autumn
        </h2>
        <br>
        <h2>
         BY ANNIE LUE
        </h2>
     </div>
</div>

<div class="risunok-container2">

    <div class="cards">
        <img src="/img/cardd12.png" alt="">

        <h1>
            Interactive Design
        </h1>
        <br><br>
        <h2>
            London-based Yinka
            <br>
             Ilori’s storytelling
             <br>
              furniture
        </h2>
        <br>
        <h2>
            <br>
         BY ANNIE LUEILWITZ
        </h2>
     </div>
     <div class="cards">
        <img src="/img/cardd13.png" alt="">

        <h1>
            Graphic Design
        </h1>
        <br><br>
        <h2>
            Anonymous Israeli art
            <br>
             collective Broken
             <br>
              Fingaz direct music
              <br>
               video for U2 and Beck
        </h2>
        <br>
        <h2>
            <br>
         BY SIMEON BREKKE
        </h2>
     </div>
     <div class="cards">
        <img src="/img/cardd14.png" alt="">

        <h1>
            Architecture
        </h1>
        <br><br>
        <h2>
            Suzanne Saroff’s
            <br>
             meticulously arranged
             <br>
              photographs
              <br>
               alter perceptions
        </h2>
        <br>
        <h2>
            <br>
         BY RETTA TORPHY
        </h2>
     </div>
     <div class="cards">
        <img src="/img/cardd15.png" alt="">

        <h1>
            Graphic Design
        </h1>
        <br><br>
        <h2>
            Anu Ambasna’s playful
            <br>
             illustrations
             <br>
              celebrate club
              <br>
               culture, brown bodies
               <br>
                and perfect paunches
        </h2>
        <br>
        <h2>
            <br>
         BY LEO BARTELL
        </h2>
     </div>


 </div>
 <div class="btn">
    <button>view all latest posts</button>
 </div>


 <div class="section-container">
     <div class="fotki">
        <img src="/img/cartinki.png" alt="">
        <h1>

            Graphic Design
        </h1>
        <h3>
            <br>
            A Brief History of the FIFA World Cup Logo
        </h3>
        <h3>
            <br><br>
            BY CLEM ONOJEGHUO
        </h3>

     </div>


     <div class="fotki">
        <img src="/img/text.png" alt="">

        <h1>
            Graphic Design
        </h1>
        <h3>
            <br>
            Need a guide to LA’s graphic design scene?
            <br>
             Shoplifters’ new issue has got your back
        </h3>
        <h3>
            <br>
            BY ALLESANDRA ORTIZ
        </h3>


     </div>

 </div>
 <div class="sectionn-container">
    <div class="fotki2">
        <img src="/img/fotki.png" alt="">

        <h1>
            Photography
        </h1>
        <h3>
            <br>
            Fred Rowson directs film for Years and Years
        </h3>
        <h3>
            <br>
            BY  COBY GOTTLIEB
        </h3>


    </div>
    <div class="fotki2">
        <img src="/img/fotki2.png" alt="">

        <h1>
            Illustration
        </h1>
        <h3>
            <br>
            M&C Saatchi and Fontsmith collaborate on
            <br>
             font collection for House of St Barnabas

        </h3>
        <h3>
            <br>
            BY ANNIE LUEILWITZ
        </h3>


    </div>

 </div>
<footer>
   <div class="container">
<div class="footer">

    <div class="it-park">
        <h1>NOICELAND</h1>
        <p>© 2018 Noiceland™, all rights reserved</p>
    </div>
<hr>
</div>
   </div>
    <div class="container">
        <div class="futor">






            <div class="futor1">
                <p>Categories</p>
                <h3>Animation</h3>
                <h3>Interactive Design</h3>
                <p>Information</p>
                <h3>about</h3>
                <h3>contact</h3>
                <h3>terms</h3>
            </div>

            <div class="futor2">
                <p>Architecture</p>
                <h3>Miscellaneous</h3>
                <h3>follow us</h3>
                <p>instagram</p>
                <h3>facebook</h3>
                <h3>twitter</h3>
            </div>

            <div class="futor3">
                <p>Graphic Design</p>
                <h3>Photography</h3>
                <h3>Template</h3>
                <p>Image License Info</p>
                <h3>Powered by Webflow</h3>
            </div>

<div class="input">
    <input type="text" placeholder="TYPE TEXT">
    <button>send</button>
</div>


         </div>

</footer>
</div>
</body>
</html>